*{
    margin: 0;
    padding: 0;
}

.adminContainer{
    background-color: lightblue;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.adminFrom{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    background: #fff;
    box-shadow: 0 1px 3px rgba(0,0,0,.2);
    border-radius: 5px;
}

small {
    color: red;
    font-weight: 600;
    opacity: 1;

}

.adminFormInputs{
    border: none;
    background: none;
    border-bottom: 1px solid silver;
    outline: none;
    padding: 5px;
    width: 90%;
    margin: 1vh;
    letter-spacing: 1px;
    font-size: medium;
    transition: all .2s;
}

.adminFormInputs:hover{
    border-bottom: 1px solid grey;
}

.adminFormInputs:focus{
    border-bottom: 1px solid blue;
}

.adminFormInputsNumber{
    border: none;
    background: none;
    border-bottom: 1px solid grey;
    outline: none;
    padding: 5px;
    width: 50%;
    margin: 2vh;
    letter-spacing: 1px;
    font-size: medium;
}

.adminButton{
    border: 1px solid black;
    width: 6rem;
    height: 2rem;
    margin: 2vh 0;
}

.rowInputs{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.rowInputs div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.rowInputs div div{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.tags-input {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
    padding: 1vh;
    width: 90%;
    margin: 2vh;
    background-color: ghostwhite;
	border-radius: 6px;
    border: 1px solid ghostwhite;
    transition: all .2s;
}

.tags-input:hover{
    border: 1px solid hsl(240, 100%, 30%);
}


#tags {
	display: flex;
	flex-wrap: wrap;
}
ul {
    margin-bottom: 0;
}

.tag {
	width: auto;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	padding: 0 8px;
	font-size: 14px;
	list-style: none;
	border-radius: 6px;
	margin: 0 8px 8px 0;
	background: hsl(216, 100%, 50%);
    font-size: 1rem;
}
.tag-close-icon {
    display: block;
    width: 16px;
    height: 16px;
    line-height: 16px;
    text-align: center;
    font-size: 14px;
    margin-left: 8px;
    color: #0052cc;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
}

.newCategoryInput{
    flex: 1;
    padding: 5px;
    border: none;
    outline: none;
    background: none;
    margin-bottom: 8px;
}

.inputContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

label{
    position: relative;
    top: 22px;
    color: silver;
}
.inputContainer label{
    width: 90%;
}

/* EDIT PRODUCTS */

.editProductsContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.productsContainer{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: whitesmoke;
}

.productForEdit{
    display: flex;
    flex-direction: column;
    width: 30%;
    background-color: ghostwhite;
    margin: 2vh 2vh;
    box-shadow: 0 1px 3px rgba(0,0,0,.2);

}

.productForEditImg{
    width: 100%;
    height: 40vh;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #fff;
    cursor: pointer;
    transition: all 0.4s; 
}

.productForEdit:hover{
    transform: scale(1.02);
}

.productNameContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
}

.productNameContainer h4{
    text-align: center;
    color: black;
}
.productNameContainer h4:hover{
    border-bottom: none;
}


@media(max-width: 800px){
    .productForEdit{
        width: 40%;
    }
}
@media(max-width: 600px){
    .productForEdit{
        width: 70%;
    }
}

.edittingProductContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: whitesmoke;
    min-height: 100vh;
}

.productEditContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
}

.productEditImg{
    width: 100%;
    height: 40vh;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    border: 1px solid silver;
    margin: 2vh 0;
}

.productEditImg input{
    flex: 1;
    border: none;
    border-bottom: 1px solid black;
    background: none;
    outline: none;
    width: 100%;
}
.editInput{
    width: 100%;
    display: flex;
}

.editInput input{
    flex: 1;
    border: none;
    border-bottom: 1px solid black;
    background: none;
    outline: none;
    width: 100%;
}
.editInput textarea{
    flex: 1;
    border: 1px solid black;
    background: none;
    outline: none;
    width: 100%;
    padding: 5px;
    resize: none;
}

.material-icons{
    cursor: pointer;
    margin-left: 1vw;
}

.shortInputs{
    display: flex;
    align-items: center;
    justify-content: center;
}

.shortInputs p{
    margin-bottom: 0;
}

.shortInputs input{
    background: none;
    outline: none;
    border: none;
    border-bottom: 1px solid silver;
    width: auto;
    margin: 0 2vh;
}

.shortsInputsContainer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 2vh 0;
}



@media(max-width: 1000px){
    .productEditContainer{
        width: 80%;
    }
}
@media(max-width: 700px){
    .productEditContainer{
        width: 90%;
    }
}
@media(max-width: 600px){
    .shortsInputsContainer{
        display: flex;
        flex-direction: column;
        margin: 0;
    }
    .shortInputs input{
        margin: 2vh 2vh;
    }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}