.navbar{
    background: white;
}
.signOutHeader{
    display: flex;
    align-items: center;
    text-align: center;
    color: gray;
    margin: 0 2vh;
}
.signOutHeader:hover{
    color: black;
    cursor: pointer;
    margin-bottom: 0;
}

.userLogo{
    height: 4rem;
    width: 4rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 50%;
}

.navbar-nav{
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 991px){

    .navbar-collapse{
        position: absolute;
        width: 100vw;
        background-color: white;
        top: 12vh;
        left: 0;
        z-index: 10;
    }
}
