.filterProducts{
    height: 40vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.filterArticle{
    margin: 1rem 0 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
 
}

.filterArticle > h3{
    font-family: 'Montserrat';
    text-align: center;
    width: 45vw;
}

.filterArticle > input{
    padding: 8px 0 8px 0;
    width: 48vw;
    text-align: center;
    font-size: 30px;
    border-radius: 2vw;
    outline: none;
    border: 1 px solid black;
    border: 1px solid #cccccc;
}

.filterArticle > input:focus{
    background-color: rgb(172, 172, 172);
    color: white;
}

.filterPrice{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;

}
.filterPrice > div{
    display: flex;
    align-items: center;
}

.filterPrice > h3{
    font-family: 'Montserrat';
    text-align: center;
    width: 45vw;
}

.inputPriceValue{
    width: 50px;
    height: 20px;
    text-align: center;
    border-radius: 20px;
    margin-left: 2vh;
}

.inputPrice{
        width: 44vw;
}

@media (max-width: 850px){
    .filterArticle{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .filterArticle > h3{
        width: 100%;
        text-align: center;
        margin: 2vh 0;
    }
    .filterArticle > input{
        width: 95%;
        margin: 2vh 0;
    }
    .filterPrice{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .filterPrice > h3 {
        width: 100%;
        text-align: center;
    }
    .filterPrice > div{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 2vh 0;
    }
    .inputPrice{
        width: 80%;
    }
    .inputPriceValue{
        margin-left: 2vh;
    }
}




.containerNotFound{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.containerNotFound > h1{
        background: -webkit-linear-gradient(#59175e,#ff4a5e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: tomato;
    font-family: 'Montserrat';
    font-weight: 800;
    font-size: 6vh;
}