@import "~react-image-gallery/styles/css/image-gallery.css";

p{
    margin-bottom: 0px !important;
}

.productContainer{
    height: 100%;
    width: 100%;
    display: flex;
    background-color: whitesmoke;
}

.infoProducts{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2em;
}


.photosProducts{
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.carrouselProduct{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logoProduct{
    width: 100%;
    letter-spacing: 8px;
}

.priceProduct{
  /*   height: 4vw; */
    width: 100%;
    display: flex;
    align-items: center;
/*     background-color: crimson; */
}

.priceProductD{
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: line-through;
    color: silver;
    font-size: 30px !important;
    font-style: italic;
}

.priceReal{
    color: #f53325;
    font-weight: bold;
    font-size: 40px;
}

.btnBuy{
    margin: 2vh 0;
    height: 5vh;
    border: none;
    background: linear-gradient(140deg,var(--purple),var(--pink));
    color: white;
    font-weight: bold;
    border-radius: 2vh;
    font-size: large;
    padding: 0 1.4rem;
    width: 12rem;
}

.cardContainer{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.cardProduct {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 4rem;
    height: 4rem;
}

.infoProduct h3{
    font-family: 'Dancing Script', cursive;
    font-size: 2.7rem;
}

.buyNowProduct{
    height: 15vh;
    width: 100%;
    display: flex;
    align-items: center;
/*     background-color: darkmagenta; */
}
.buyNowProduct > button{
    height: 35px;
    width: 20vw;
}

@media (max-width: 900px){
    .productContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .photosProducts{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        height: 50vh;
        margin-top: 1vh;
    }
    .carrouselProduct{
        height: 50vh;
    }
    .image-gallery-image{
        height: 50vh;
    }
    .infoProducts{
        width: 100%;
        margin-top: 2vh;
    }
    .btnContainerBuy{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 500px){
    .cardContainer{
        display: flex;
        flex-wrap: wrap;
    }
    .cardProduct{
        margin: 2vh;
    }
}

.descProduct{
    min-height: 30vh;
    width: 80%;
    font-weight: 600;
    font-size: large;
}

.descProduct > p{
    margin: 8px;
}

.sizeImage{
    width: 100%;
    height: 40vw;
}
.carousel-caption {
    position: absolute;
    right: 15%;
    top: 207px;
    left: 15%;
    z-index: 10;
    color: #000;
}

.productsListHome{
    margin-top: 2vw;
    justify-content: space-around;
    display: flex;
    margin-bottom: 2vw;
    flex-wrap: wrap;
}

.containerCardProduct{
    box-shadow: rgb(0 0 0 / 23%) 2px 2px 10px;
    width: 25%;
    display: flex;
    flex-direction: column;
    margin: 5vh 5vh;
    transition: all .4s;
    cursor: pointer;
}

.containerCardProduct:hover{
    transform: scale(1.02);
}

.imgProductHome{
    background-color: #F2F2F2;
    height: 43vh;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.containerText{
    width: 100%;
    padding: 2vh;
}

.btnCardProduct{
    background-color: red;
}

.titleContainerProducts{
    display: flex;
    justify-content: center;
}

.tittleProductContainer{
    height: 13vh;
    display: flex;
    align-items: center;
}

.titleContainerProducts > h2 {
   font-family: 'Montserrat', sans-serif;
}
.titleProductHome{
    font-family: 'Dancing Script', cursive;
}

.titleProductPrecie{
   font-family: 'Montserrat', sans-serif;
}

@media (max-width: 1200px){
    .containerCardProduct{
        width: 33%;
    }
}
@media (max-width: 820px){
    .containerCardProduct{
        width: 40%;
    }
}
@media (max-width: 735px){
    .containerCardProduct{
        width: 70%;
    }
}


.cartContainer{
/*     background-color: brown; */
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.titleShoppingCart{
/*     background-color: crimson; */
    width: 90vw;
    height: 10vh;
    display: flex;
    align-items: center;
}

.titleShoppingCart > h2{
    font-size: 40;
}

.cart{
 /*    background-color: coral; */
    min-height: 60vh;
    width: 90vw;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.titlesCart{
    width: 100%;
    height: 8vh;
  /*   background-color: darkkhaki; */
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-bottom: 1px solid black;
}

.titlesCart > div {
/*     background-color: darkorchid; */
    width: 5vw;
    height: 6vh;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titlesCart > div > p {
    padding-top: 1rem;
}

.totalCart{
    width: 100%;
    height: 8vh;
/*     background-color: darkkhaki; */
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-top: 2px solid black;
}

.totalCart > div{
    width: 10vw;
    height: 6vh;
/*     background-color: darkkhaki; */
    margin-right: 20px;
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
   /*  background-color: blue; */
}

.articleCart {
    height: 40vh;
    width: 100%;
/*     background-color: chartreuse; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid black;
}

.photoCart{
    height: 35vh;
    width: 35vh;
   /*  background-color: wheat; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.textInput{
    background-color: hsl(0, 0%, 94%);
    border: none;
    outline: none;
    color: black;
    border-radius: 2vh;
    font-size: 25px;
    padding: 10px;
    flex-grow: 1;
    margin: 0 2vh;
}

.divSend{
    width: 60%;
    height: 3rem;
    background-color: #141A32;
    display: flex;
    flex-direction: row-reverse;
}

.buttonSend {
    height: 100%;
    width: 6rem;
    background-color: rgb(13, 106, 119);
    border: 0px;
    outline: none;
    font-size: 20px;
    color: white;
    cursor: pointer;
}

.buttonSend:hover{
    transform: scale(1.1);
}

.textTareaConteiner{
    display: flex;
    align-items: center;
    width: 100%;
}

.avatarComment{
    height: 9rem;
    width: 9rem; 
    background-color: #1E2747;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.avatarImgComment{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.commentsVideo{
    margin-top: 2rem;
    min-height: 50vh;
    width: 60%;
}

.comment{
    width: 90%;
    background-color: hsl(0, 0%, 92%);
    margin: 2vh 0vh 2vh 2vh;
    color: black;
    border-radius: 2vh;
    padding: 1em;
}

.commentConteiner{
    display: flex;
    align-items: center;
    justify-content: center;
}

.modifyComment {
    width: 100%;
    background-color: hsl(0, 0%, 93%);
    outline: none;
    border: none;
    border-bottom: 1px solid black;
    color: black;
}

/* .buttonCloseOff{
    display: none;
} */

.buttonCloseOn{
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.DivEditAndDelete{
    display: flex;
    margin-right: 2vh;
}

.buttonCloseOn > p{
    cursor: pointer;
}

.seasonsConteiner{
    margin-top: 5rem;
    min-height: 50vh;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.seasonsConteiner > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.chapters{
    background-color: #E50913;
    color: white;
    width: 35vw;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
}

.seasonNumber{
    background-color: white;
    color: black;
    width: 40vw;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    border-radius: 10px;
}

.InputConteiner{
    margin-top: 2em;
}

.commentAuthor{
    font-size: x-large;
    font-weight: 700;
}

.inputProduct{
    width: 100%;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2em;
}

.commentsContainer{
    background-color: white;
    padding: 2em;
    border-radius: 2vh;
    box-shadow: rgb(0 0 0 / 23%) 2px 2px 10px;
    width: 70%;
}

@media (max-width: 850px){
    .commentsContainer{
        width: 85%;
    }
}
@media (max-width: 600px){
    .commentsContainer{
        width: 95%;
        padding: 2em 20px;
    }
    .inputProduct{
        padding: 2em 0;
    }
}

.commentsimportant{
    height: 50vh;
    overflow: scroll;
    overflow-x: hidden;
}

.fa-shopping-cart{
 /*    background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    font-size: 30px;
    margin-top: 15px;
} 

.cartContainerHeader {
    display: flex;
}

.totalCartHeader {
    position: absolute;
    background-color: rgb(190, 22, 22);
    color: white;
    width: 22px;
    height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-bottom: 30px !important;
    margin-left: 29px !important;
    border: 2px solid white;
    margin-top: 15px;
}

.navigator{
    display: flex;
    align-items: center;
    justify-content: center;
}

#checkbox{
    top: 0px !important;
    position: unset !important;
    margin-bottom: 0rem !important;
    display: block;
}

.imgUserComment{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
}

.imgUserComment > p{
    margin-top: 1rem !important;
}