.containerPortadaSexToy{
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    flex-direction: column;
    background: url("https://sexplore.s3.eu-west-2.amazonaws.com/shopify/overlays/plants.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 50vh;
}

.titleCategory{
    background: -webkit-linear-gradient(#59175e,#ff4a5e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
     color: tomato;
    font-family: 'Montserrat';
    font-weight: 800;
    font-size: 12vw;
}
@media (max-width: 600px){
    .titleCategory{
        font-size: 15vw;
    }
}
.containerTextCategory{
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textCategory{
    font-family: 'Montserrat';
    color: #86868b;
    width: 60%;
}

.lubricantsCover {
    background-image: url("https://sexplore.s3.eu-west-2.amazonaws.com/shopify/category-page-section-dividers/anal-lubes.png"),linear-gradient(140deg,var(--purple)0%,var(--pink)100%);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
}

.sexGameCover{
    background-image: url("http://tingarciadg.com/wp-content/uploads/2021/05/Diseno-sin-titulo-5.png"),linear-gradient(0deg,var(--purple)0%,var(--pink)100%);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
}

.clearToy{
    background-image: url("http://tingarciadg.com/wp-content/uploads/2021/05/finalClenear.png"),linear-gradient(0deg,var(--purple)0%,var(--pink)100%);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
   }

   .containerProducPresent{
    background:url("https://sexplore.s3.eu-west-2.amazonaws.com/shopify/category-page-section-dividers/automatic-masturbators.png"),linear-gradient(0deg,var(--orange)0%,var(--yellow)100%);
    height: 100%;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   width: 50%;
}

.containerProductsVulva{
    background-image:url("https://sexplore.s3.eu-west-2.amazonaws.com/shopify/category-page-section-dividers/glass-dildos.png"),linear-gradient(140deg,var(--green)0%,var(--blue)100%);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
}

.containerProductsButts{
    background-image:url("https://sexplore.s3.eu-west-2.amazonaws.com/shopify/category-page-section-dividers/anal-beads.png"),linear-gradient(140deg,var(--orange)0%,var(--yellow)100%) ;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
}

.containerProductCardSexToy{
    background: #F1F1F1;
    display: flex;
    height: 55vh;
}

.containerTextCardSexToy{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lubricantContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    text-align: center;
}

.lubricantContainer p{
    width: 50%;
}

@media(max-width: 580px){
    .containerProductCardSexToy{
        display: flex;
        flex-direction: column-reverse;
        height: auto;
    }
    .lubricantsCover, .containerProductsButts, .sexGameCover, .containerProductsVulva, .clearToy, .containerProducPresent{
        width: 100%;
        height: 40vh;
    }


    .lubricantContainer{
        width: 100%;
        text-align: center;
        padding: 2em;
    }
    .lubricantContainer p{
        width: 70%;
    }
}

.containerProductsSextoy{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.containerTextCardSexToy > h2{
    font-family: 'Montserrat';
}

.containerTextCardSexToy > p {
        width: 30vw;
    text-align: center;
    font-family: 'Montserrat';
}


.buyAnimationCss{
    height: 100px;
    width: 100px;
    position: absolute;
}

.commentsLOader{
    height: 350px;
    width: 350px;
}

.commentsloaderContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}