.containerForm{
    background-image: url("http://tingarciadg.com/wp-content/uploads/2021/05/pexels-sameera-ganegoda-2234783-scaled.jpg");
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5vh 0;
}
.formularioSignUP{
    width: 50%;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 22px;
    border-radius: 1vw;
}


.formbottom{
    margin: 2vh 0;
    text-align: center;
}

.titleForm{
    color: white;
    font-family: 'Montserrat';
    font-weight: bold;
    text-align: center;
}



.inputCointainer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.inputCointainer label{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputCointainer > label > input {
    width: 80%;
    height: 6vh;
    font-family: 'Montserrat';
    padding: 10px;
    outline: none;
    border-radius: 1vh;
    border: 2px solid #0000003b;
    margin-bottom: 2vh;
}

.inputCointainer  input:hover{
    border: 2px solid #f3c3ef
} 
.inputCointainer  input:focus{
    border: 2px solid #b56daf
} 


.inputCointainer  > label > p{
    color: black;
    font-family: 'Montserrat';
    margin: 0;
    font-weight: bold;
    width: 85%;
    margin-bottom: 1vh;
}

@media (max-width: 800px){
    .formularioSignUP{
        width: 70%;
    }
}

@media (max-width: 600px){
    .formularioSignUP{
        width: 90%;
    }
}

.upload-btn-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 2vh 0;
}

.btn {
    border: 2px solid gray;
    color: gray;
    background-color: white;
    border-radius: 1vh;
    font-size: large;
}

.upload-btn-wrapper input {
    width: 50%;
    border: none;
}
.upload-btn-wrapper input:hover {
    border: none;
}

.btnSendForm{
    margin: 1vh 0;
    height: 5vh;
    border: none;
    background: linear-gradient(140deg,var(--purple),var(--pink));
    color: white;
    font-weight: bold;
    border-radius: 2vh;
    font-size: large;
    padding: 0 1.4rem;
    transition: all .4s;
}

.btnSendForm:hover{
    transform: scale(1.02);
}


.btnGoogleSignUp{
   border: none;
    color: white;
    background: #3f7bf0;
    padding: 9px;
    border-radius: 1vh;
}

.btnGoogleSignUp > i {
    margin-right: 10px;
}
.titleRegisterEmail{
    text-align: center;
    font-size: 17px;
    font-family: 'Montserrat';
    margin-top: 16px;
}


.container-input {
    text-align: center;
    width: 100%;
    margin: 0 auto;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    padding: 0.625rem 1.25rem;
}

.inputfile + label svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    margin-right: 0.25em;
}

.iborrainputfile {
	font-size:20px; 
	font-weight:normal;
	font-family: sans-serif;
}

/* style 1 */

.inputfile-1 + label {
    color: white;
    background-color: black;
    border-radius: 2vh;
    width: 15rem;
}

.inputfile-1:focus + label,
.inputfile-1.has-focus + label,
.inputfile-1 + label:hover {
    background-color: #636363;
}